body {
  font-family: Arial, Helvetica, sans-serif;
}

/* BOARDHEALINE */

.board-headline {
  padding-bottom:30px;
  width:720px;
  margin: 0 auto;
  text-align:center;
}

.board-icon {
  margin: 0 auto;
  background: darkred;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  color: white;
  font-size: 54px;
  font-family: none;
  font-weight: bold;
  padding: 10px;
}

.board-name {
  font-size: 40px;
  font-weight: bold;
  padding: 20px 0px 20px 0px;
  color:#403d3d;
}


.stats {
  display:flex;
  margin-top:30px;
}

.stat-item{
  width:135px;
  color: #9c9797;
  font-size:20px;
}

.stat-name {
  font-size:13px;
}

.dividor {
  color: #e2dada;
}

.highlighted-item {
  color:darkred;
  font-weight:bold;
}

/* TILEDASHBOAD */

.tile-dashboard {
  display: flex;
  flex-wrap: wrap;
  width: 58%;
  margin: 0 auto;
  background:#dcdcdc;
  border-top: 3px solid #c3c0c0;
}

.tiles {
  margin: 0 auto;
}

.tile-item {
  background: white;
  width: 230px;
  border-radius: 5px;
  border: 1px solid #e0d9d9;
  height: 350px;
  padding:10px;
  margin:10px;
}

.title {
  font-weight: bold;
  color:#403d3d;
  font-size:16px;
  padding-bottom:5px;
}

.category {
  padding-top: 5px;
  padding-bottom:10px;
  color: grey;
  font-weight: 500;
  font-size: 15px;
}

.big-image {
  background:palegreen;
  border-radius: 3px;
  width: 230px;
  height: 170px;
}

.pins {
  margin-top: -28px;
  padding:4px 0px 3px 4px;
  background: grey;
  width: 44px;
  margin-left: 3px;
  border-radius: 3px;
  color: #d8d5d5;
  font-size: 12px;
}

.sm-images {
  display:flex;
  margin-top:3px;
}

.img-item {
  margin-right: 3px;
  margin-top: 5px;
  margin-left: 2px;
  background: palevioletred;
  width: 72px;
  height: 70px;
  border-radius: 3px;
}

.btn-light {
  font-size: 14px;
  color: red;
  font-weight: bold;
  width: 225px;
  border: 1px solid #e0d9d9;
  height: 35px;
  margin-left: 2px;
  background: #efeded;
  margin-top:8px;
}